{% extends './layout.jinja' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block body %}
    <h1>{{ data.bienvenida }}</h1>
    {% if data.numeroLenguajes > 0 %}
    <h1>Hay {{ data.numeroLenguajes }} lenguajes</h1>
    <ul>
        {% for c in data.lenguajes %}
        <li>{{ c }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <h2>No existen cusos</h1>
    {% endif %}
{% endblock %}