<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Oilskin Repo{% endblock %}</title>
    {% include 'includes/_head_utils.jinja' %}
</head>

<body class="min-h-screen" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('{{ url_for('static', filename='img/fondo_2.png') }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">

    {% include 'includes/_navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'includes/_footer.html' %}

</body>

</html>