<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_cart" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="bg-slate-900 p-8">
    <div class="flex flex-row flex-wrap gap-20 justify-center">
        <div class="flex flex-col text-white gap-1">
            <h2 class="text-3xl border-b-2 border-yellow-500 inline-block uppercase mb-4">Compañia</h2>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-house"></i> Inicio
            </a>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-circle-info"></i> Sobre Nosotros
            </a>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-shield-halved"></i> Politica de Privacidad
            </a>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-file-contract"></i> Terminos y Condiciones
            </a>
        </div>
        <div class="flex flex-col text-white">
            <h2 class="text-3xl border-b-2 border-yellow-500 inline-block uppercase mb-4">Ayuda</h2>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-box"></i> Informacion de Pedidos
            </a>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-check-circle"></i> Compras Realizadas
            </a>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-truck"></i> Envios Realizados
            </a>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-credit-card"></i> Pagos Realizados
            </a>
        </div>
        <div class="flex flex-col text-white">
            <h2 class="text-3xl border-b-2 border-yellow-500 inline-block uppercase mb-4">Tienda</h2>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-jar"></i> Cremas Naturales
            </a>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-droplet"></i> Aceites Naturales
            </a>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-cubes"></i> Productos Variados
            </a>
            <a href="#" class="text-gray-400 hover:text-yellow-500 transition flex items-center gap-2">
                <i class="fa-solid fa-star"></i> Nuevos Lanzamientos
            </a>
        </div>
        <div class="flex flex-col text-white">
            <h2 class="text-3xl border-b-2 border-yellow-500 inline-block uppercase mb-4">Contactanos</h2>

            <div class="flex flex-row flex-wrap gap-8 text-white">
                <a href="#" class="bg-slate-700 h-8 w-8 rounded-full flex items-center justify-center">
                    <i class="fa fa-facebook text-white"></i>
                </a>
                <a href="#" class="bg-gray-700 h-8 w-8 rounded-full flex items-center justify-center">
                    <i class="fa fa-instagram text-white"></i>
                </a>
                <a href="#" class="bg-gray-700 h-8 w-8 rounded-full flex items-center justify-center">
                    <i class="fa fa-envelope-o text-white"></i>
                </a>
                <a href="#" class="bg-gray-700 h-8 w-8 rounded-full flex items-center justify-center">
                    <i class="fa fa-twitter text-white"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="text-white flex flex-row justify-center items-center py-[-20] text-center text-xl">
        <h2>&copy 2025 Oil Skin. Todos los derechos reservados.</h2>
    </div>
</footer>