<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Oilskin Repo{% endblock %}</title>
    {% include 'components/tailwind/_head_utils.jinja' %}
</head>

<body class="min-h-screen">

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
</body>

</html>